h1{
    font-family: "Times New Roman", serif;
    font-size: 44px;
    text-align: center;
    color:#5F2539
}
.ordered-list{
    font-family: "Brush Script MT", cursive;
    font-size: 32px;

}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color:#594B50;
}
.paragraph{
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
}
.heading2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 600;
}
.list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.image{
    height:400px;
    width:300px;
}